.header {
  height: 85px;
  font-family: "Lato";
  font-style: normal;
}

.header__container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 264px) minmax(500px, auto) minmax(
      300px,
      auto
    );
    align-items: center;
  margin: 0 auto;
  max-width: 1380px;
}

.logo {
    padding-left: 11px;
    margin-top: 6px;
}

.nav__list {
  display: grid;
  grid-template-columns: minmax(80px, 168px) minmax(80px, 153px) minmax(80px, 175px) minmax(80px, 150px);
  margin-top: 21px;
}

.nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
}

.login {
  justify-self: end;
}

.login__sign {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.login__trail {
  width: 183px;
  height: 52px;
  margin-left: 30px;
  margin-top: 5px;
  background: #01996d;
  border: 1px solid #01996d;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
